// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Open+Sans&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
  overflow: hidden;
  overflow-y: scroll;
  background-color: #F0F2F5;
}

.mainnav {
  position: sticky;
  &__title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
  }
  &__accounts {
    a {
      text-decoration: none;
    }
    img {
      height: 24px;
      padding-right: 8px;
    }
    .instagram {
      height: 32px;
    }
  }
}
.header {
    background-color: white;
    // box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    width: 100vw;
    justify-content: center;
}

.profile {
  background-color: #f5f5f5;

  // @media (min-width: 768px) {
  //   background-color: red
  // }
  
  // @media (min-width: 1280px) {
  //   background-color: blue
  // }
  
  &__image {
    padding: 36px 0px 0px;
    text-align: center;
    
      @media (min-width: 768px) {
        padding: 36px 0px 0px;
      }
  
      @media (min-width: 1280px) {
        padding: 36px 0px 36px;
      }
    
    img {
      border: 2px solid #DBDBDB;
      border-radius: 50%;
      padding: 3px;
      height: 180px;
      width:180px;
  
      
      // @media (min-width: 768px) {
      //   width:200px;
      // }
  
      // @media (min-width: 1280px) {
      //   height: 300px;
      // }
    }
  }
  &__details {
    margin-top: 36px;
    margin-bottom: 24px;
    // margin-left: 16px;
    // padding-top: 64px; 
    @media (min-width: 768px) {
      margin-top: 36px ;
    }

    @media (min-width: 992px) {
      margin-top: 48px ;
    }
    @media (min-width: 1280px) {
      margin-top: 48 ;
    }
  }
  h2 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;

    @media (min-width: 768px) {
      font-size: 40px;
    }

  }

  p {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 24px;
  }
}

.line-div {
  hr {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    width: 100%;
  }
}

.tabnav {

  font-size: 16px;
  line-height: 40px;
  text-decoration: none;
  color: #8E8E8E;

  img {
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
  
  .active {
    font-weight: bolder;
    color: #3282b8;
    border-bottom: 3px solid #3282b8;
}
}

.main {

    .nav {
 
  
      .nav-tabs {
        border-bottom:none !important;
        justify-content: center;
        
      }
    }
    .nav-link {
        font-size: 16px !important;
        text-decoration: none !important;
        color: #8E8E8E !important;
        border: none !important;
        background-color: none !important;
    }


    .tab-active {

    }
  // .content {
  //   transition: opacity 0.5s ease-out;
  //   opacity: 0;
   
  //  &.active {
  //    opacity: 1;
  //  }
  // }
}

.about {
  font-family: 'Montserrat', sans-serif;
  align-items: flex-start;

  h4 {
    margin-bottom: 16px;
    font-weight: 600;
  }

  p {
    font-size: 16px;
    margin-bottom: 8px;      
  }
  
  .left {
    // flex-direction: column;
  }
  &__overview {
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 24px;
  }
  &__experiences {
    border-radius: 16px;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    padding: 24px;
  }
  &__skills {
    border-radius: 16px;
    padding: 24px;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);

    .skills-bar {
    }
  }
  &__contact {
    border-radius: 16px;
    padding: 24px;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }

}

.projects {
    border-radius: 16px;
    padding: 24px;
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.interests {
  border-radius: 16px;
  padding: 24px;
  background-color: white;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.card-header {
  background-color:white !important;
  padding:0 !important;
  box-shadow: 0 0.125rem 0.25rem -0.25rem rgba(0, 0, 0, 0.075);
  width: 100vw;
  border-radius: 0px !important;

  // margin-top: 20px;
}
.nav-pills {
  .nav-link {
      font-size: 16px !important;
      text-decoration: none !important;
      color: #8E8E8E !important;
      border: none !important;
      border-radius: 0 !important;
      margin-right: 24px;
  }
  .nav-item-active {
    font-weight: bolder !important;
    color: #3282b8 !important;
    border-bottom: 3px solid #3282b8 !important;
    background-color: white !important;
  }
} 
.tab-div {
  padding: 0 !important;
  // background-color: #F9F9F9;
  width: 100vw;
}

.copyright {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color:#8E8E8E;
  .year {
    color: #3282b8;
  }
}